body{
    margin: 0;
    background-image: url(download.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#ClockContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-size: 7.5em;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    backdrop-filter: blur(10px);
}